!!!
%html{:lang => "en"}
  %head
    %title chat-space
  %body
    .wrapper
      .chat-main
        .main-header
          .header-leftbox
            %h2.current-group test
            .member-list Member: masa
          = link_to "#" do
            .edit-btn Edit
        .messages
          .message-box
            .message-name masa
            .message-date 2020/09/01
          .message hello world!
          .message-box
            .message-name masa
            .message-date 2020/09/01
          .message hello world!
        .form
          %form.new-message
            .input-box
              %input.input-box__text{:placeholder => "type a message", :type => "text"}
                %label.input-box__image
                  = icon('fas', 'image')
                  %input.input-box__image__file{type: "file"}
              %input.submit-btn{:type => "submit", :value => "Send"}