!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "UTF-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}
    %title chat-space
  %body
    .wrapper
      .chat-side
        .side-header
          .side-box
            %p.user-name masa
            %ul.menu
              %li.edit-user
                = link_to "#" do
                  = icon('fas', 'edit')
              %li.new-group
                = link_to "#" do
                  = icon('fas', 'cog')
        .groups
          .group-box
            .group-name tech camp
            .group-status まだメッセージはありません
          .group-box
            .group-name tech camp
            .group-status まだメッセージはありません
